# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment variables (Sensitive data)
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.tox/
.coverage
.pytest_cache/
htmlcov/

# IDE-specific (Optional)
.vscode/
.idea/

# custom
assets/
